@using Microsoft.AspNet.Identity
<div class="jumbotron">
    <h1>Jollibee Online Order Application</h1>
    @if (Request.IsAuthenticated)
    {
        <p class="lead">Follow the link below to order!</p>
        <p><a href="/Home/Order" class="btn btn-primary btn-lg">Order &raquo;</a></p>
    }
    else
    {
        <p class="lead">You must be logged in to order.</p>
        <p><a href="/Auth/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
    }
</div>

